html, body {
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    background-color: rgb(213, 225, 239);
}

#principal {      /* container do card */
    width: 75%;
    margin: auto;
}


#img-card {
    width: 90%;
    border-radius: 4%;
}

#card-i {  
    border-radius: 4%;
    border: none;
}

#h4-card {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    padding: 20px 0 10px;
    text-align: center;
}

#p-card {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    padding: 10px 10px 20px;
    text-align: center;
}

@media screen and (min-width: 577px) { /* faz o card ficar com width fixa */

#principal {
    width: 430px;
}

}